version: "3.3"

services:
  cameraai:
    image: cornelissensolutions/cameraai:latest
    #container_name: cameraai
    #build: .
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    networks:
      - cameraai
    ports:
      - 82:80
    volumes:
      # - ./data_home_app_data:/home/app/data
      - CIPS-volume:/home/app/data
    restart: unless-stopped

  visiondetection:
  # docker run -d -p 123:5000 -e VISION-DETECTION=True deepquestai/deepstack
  
    image: deepquestai/deepstack:arm64-2022.01.1

    environment:
      - VISION-DETECTION=True
    networks:
      - cameraai
    ports:
      - 123:5000
    volumes:
      - ./data:/datastore
    restart: unless-stopped

networks:
  cameraai:
    driver: bridge
volumes:
  CIPS-volume:    