<!DOCTYPE html>
<html>
<head>

<meta http-equiv='refresh' content='10'>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>


<h1>Cornelissen Image Processing System </h1>
<p>git commit date: {{ hash }}</p>


<br>
<table style="width:75%">
  <tr>
    <th><a href="cameras">CAMERAS</a></th>
    <th>ENDPOINT</th>
    <th>TIMER</th>
    <th>FILES</th>
  </tr>
  <tr>
    <td>
      {% for camera in cameras %}
      <li>
          {{ camera.name }}
          <!-- <a href="{{ () }}">DELETE </a> -->
          <a href="files/{{camera.name}}.jpg"><img src="files/{{ camera.name }}.jpg" alt="latest image" height=150></a>
      </li>
      {% endfor %}

    </td>

    <td>
      <form action="updateEndpoint" method="POST">
        <p>URL <input type = "text" name = "newEndPointURL" value='{{ endpointURL }}'/><input type="submit" value="update"/></p>
      </form>
      status: {{ endpointStatus }}
    </td>
    <td>
      <br>status : {{ timerStatus }} - <a href="/startTimer">Start</a> / <a href="/stopTimer">Stop</a>
      <form action="updateTimer" method="POST">
          <p>seconds <input type = "text" name = "newTimerValue" value='{{ timerValue }}'/><input type="submit" value="update"/></p>
        </form>          <!-- <p>seconds <input type = "text" name = "newTimerValue" value='{{ timerValue }}'/><input type="submit" value="update"/></p> -->
      <form action="updateFPS" method="POST">
        <p>FPS <input type="number" name="FPSValue" value='{{ FPSValue}}'><input type="submit" value="update"/></p>
      </form>
    </td>
    <td>
      <ul>
        <li>
            <a href="/files/analyzed">Analyzed</a> 
        </li>
        <li>
            <a href="/files/rawData">RawData</a> 
        </li>
     </ul>
    </td>
  </tr>
</table>


<h2>DEBUG</h2>
<form action="/updateLogLevel" method="POST">
  <label for="logLevel">LogLevel:</label>
  <select name="logLevel" id="logLevel">
    <option value="DEBUG">DEBUG</option>
    <option value="INFO">INFO</option>
    <option value="WARNING">WARNING</option>
  </select> <input type="submit" value="Submit">
</form>

<br>status : {{ debugStatus }} - <a href="/enableDebug">enable</a> / <a href="/disableDebug">disable</a>
<br>Threads : {{ threads }} - <a href="/killAllThreads">Kill All</a>
<br><a href='/trigger'> Trigger Image collection manual</a>
<br><a href="/downloadLog">Log File</a> <a href="/viewLog">View</a>
<br><a href="/stopServer">STOP</a>