<!doctype html>
<meta http-equiv='refresh' content='10'>
<h1>HELLO WORLD</h1>
<p>Cornelissen Image Processing System</p>

<br><a href='/files'>files</a>
<br>
<br>
<table>
  <tr>
    <th>CAMERA</th>
    <th>ENDPOINT</th>
    <th>TIMER</th>
    <th>FILES</th>
  </tr>
  <tr>
    <td>
      {% for camera in cameras %}
      <li>
          {{ camera.name }}
          <!-- <a href="{{ () }}">DELETE </a> -->
          <a href="files/{{camera.name}}.jpg"><img src="files/{{ camera.name }}.jpg" alt="latest image" height=150></a>
      </li>
      {% endfor %}
      <a href="/loadCameraFromConfig">load Camera's</a>
      <form method="post" enctype="multipart/form-data" action="uploadCameraConfig">
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </td>

    <td>
      <form action="updateEndpoint" method="POST">
        <p>URL <input type = "text" name = "newEndPointURL" value='{{ endpointURL }}'/><input type="submit" value="update"/></p>
      </form>
    </td>
    <td>
      <br>status : {{ timerStatus }} - <a href="/startTimer">Start</a> / <a href="/stopTimer">Stop</a>
      <form action="updateTimer" method="POST">
          <p>seconds <input type = "text" name = "newTimerValue" value='{{ timerValue }}'/><input type="submit" value="update"/></p>
      </form>
    </td>
    <td>
      <ul>
        <li>
            <a href="/files/analyzed">Analyzed</a> 
        </li>
        <li>
            <a href="/files/RawData">RawData</a> 
        </li>
     </ul>
    </td>
  </tr>
</table>


<h2>DEBUG</h2>
<br>status : {{ debugStatus }} - <a href="/enableDebug">enable</a> / <a href="/disableDebug">disable</a>
<br>Threads : {{ threads }} - <a href="/killAllThreads">Kill All</a>
<br><a href='/trigger'> Trigger Image collection manual</a>
<br><a href="/downloadLog">Log File</a> <a href="/viewLog">View</a>
<br><a href="/stopServer">STOP</a>