name: MAIN + Docker Image CI

on:
  push:
    branches: 
      - master
      - develop
  pull_request:
    branches: [ "master", "develop" ]

env:
  dateTag: $(date +%s)
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout repository
      uses: actions/checkout@v3
      
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag cornelissensolutions/cameraai:${{ env.dateTag }}

    - name: upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: docker-artifact
        path: cornelissensolutions/cameraai:${{ env.dateTag }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@98669ae865ea3cffbcbaa878cf57c20bbf1c6c38
      with:
        images: cornelissensolutions/cameraai:${{ env.dateTag }}
    
    - name: Build and push Docker image
      uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}